:root {
  --error: #e7195a;
  --light-violet: #BC96E6;
}

.signup,
.login {
  max-width: 400px;
  margin: 60px auto;
  padding: 32px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.7rem
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: -10px;
}

.input {
  padding: 12px 16px;
  border: 1.5px solid #e5e7eb;
  font-size: 1rem;
  transition: all 0.2s ease;
  outline: none;
  background-color: #f9fafb;
}

.signup select {
  cursor: pointer;
}

.button {
  background: linear-gradient(135deg, var(--light-violet) 0%, #8b5cf6 100%);
  border: 0;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  align-self: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(139, 92, 246, 0.3);
}

.button:hover {
  filter: brightness(1.1); 
  transform: translateY(-1px); 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}