.header a{
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
}

.nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 20px; 
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout {
  background: #fff;
  color: #8b5cf6;
  border: 2px solid #8b5cf6;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.username {
  font-weight: 600;
  cursor: pointer;
  text-shadow: .1em .1em .2em #BC96E6;
}
